<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Profile Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-3">
          <b>Name: </b>
        </div>
        <div class="col-sm-9">
          <%= @user.name.capitalize %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <b>Username: </b>
        </div>
        <div class="col-sm-9">
          <%= @user.username %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <b>Email: </b>
        </div>
        <div class="col-sm-9">
          <%= @user.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <b>Posts: </b>
        </div>
        <div class="col-sm-9">
          <%= @user.posts.count rescue 0 %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <b>Comments: </b>
        </div>
        <div class="col-sm-9">
          <%= @user.comments.count rescue 0 %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>