<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= link_to @post.user.username, user_path(@post.user), class: "",:method=> :get, :remote => true, :data => {:toggle => "modal", :target => "#profile"} %> : <%= @post.title %></h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <img src="<%= @post.pic_url.url%>" class="img-responsive">
        </div><hr>
        <div class="row">
          <span><b>Description: </b><%= @post.description %></span>
        </div><hr>
        <div id="commentsPartial">
          <%= render :partial => "comments/post_comments" %>
        </div>
        <div class="row">
          <% if current_user.present? %>
            <%= form_for :comment, url: comments_path, method: :post, :remote => true, :authenticity_token => true, :id => "create_comment" do |f| %>
              <%= f.text_area :body, :class => "form-control", :id => "body", :placeholder => "Enter your comments", :required => true %>
              <%= f.hidden_field :post_id, :value=>@post.id%>
              <%= f.hidden_field :user_id, :value=>current_user.id%>
              <%= f.submit "Submit", :class=>"btn btn-primary pull-right", :id => "submit_recharge" %>
            <% end %>
          <% else %>
              <div class="col-sm-2"><%= button_to "log in", log_in_path, class: "btn btn-success",:method=> :get, :remote => true, :data => {:toggle => "modal", :target => "#login"} %></div>
              <div class="col-sm-1"><%= button_to "Sign up", sign_up_path, class: "btn btn-success",:method=> :get, :remote => true, :data => {:toggle => "modal", :target => "#signup"} %>
              </div> 
              <div class="col-sm-4 text-center">to comment.</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
